html {
  font-size: 25px;
}

body {
  margin: 0;
  background-image: url("bg.png");
  color: white;
}

.header {
  background-color: black;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 44px;
}

.header a {
  color: white;
  text-decoration: none;
}

article {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 1.6cm;
}

.Phrase {
  padding: 0.25rem;
  text-align: center;
  font-size: 34px;
}

a {
  color: white;
}

#NavBar a {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.header,
article {
  text-align: center;
}

em {
  text-align: left;
}

#copyright {
  color: black;
  text-align: left;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}

.Genre {
  text-align: center;
  font-size: 44px;
}

table,
th,
td {
  border: 0cm solid black;
  background-color: black;
}

table {
  height: 22cm;
  width: 90cm;
}

.center {
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-collapse: collapse;
  font-size: 1.7cm;
}
