html {
    font-size: 25px;
}

body {
    margin: 0;
    background-image: url("LOLOL.png");
    color: red;
}

.header {
    background-color: black;
    padding: 0.25rem;
    display:flex;
    justify-content: space-between;
}

.header a {
    color: white;
    text-decoration:none
}

article {
    padding: 00.25rem;
}

.header, article {
    text-align: center;
}

em {
    text-align: left;
}

#copyright {
    color: black;
}